*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo,.titulo-blanco,.subtitulo1,.subtitulo1-gris,.subtitulo2,.call,.num-call{
    font-family: 'PF Regal Display Pro';
}

<!--ojo-->
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin:auto;
    overflow: hidden
}

.titulo{
    color: #000000;
    font-size: 80px;
    font-weight: 500;
    line-height: 45px;
}

.titulo-blanco{
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 500;
    line-height: 45px;
    text-align: left;
}

.subtitulo1{
    color: #DF991B;
    font-size: 40px;
    font-weight: 400;
    line-height: 45px;
}

.subtitulo1-gris{
    color: #B4B7B7;
    font-size: 40px;
    font-weight: 400;
    line-height: 45px;
    }