#encabezado
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

#portada
{
    background-image: url(/img/portada2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#cabecera
{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: blue;
    width: 100%;
}