#encabezado
{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

#portada
{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#cabecera
{
    display: grid;
    grid-template-columns: 12fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: brown;
    width: 100%;
}